<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <h1 id="logo">Les antennes locales</h1>
            <p>
                La majorité des représentants de l’association sont localisés dans la région Ile de France. Cependant, d’autres représentants de l'association sont localisés dans la région Centre, Bourgogne, Rhône Alpes et Bretagne.

            </p>

            <img class src="../../../../assets/img/LesAntenn.png" />
        </div>
    </div>
</div>